.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.dot {
    border: dotted 10px #bbb;
}

.gradation {
    background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #69d2e7, #a7dbd8, #e0e4cc, #f38630, #fa6900);
    background-size: 10px 3px, 100% 3px;
}

.rolling_animation {
    animation-name: rolling;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

@keyframes rolling {
    0% {
      transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


.squire-wrap {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 400px;
    height: 400px;
}

.squire {
    background-color: #ee8252;
}

.change-color {
    animation-name: change-color;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes change-color {
    0% {
        background-color: #eee55e;
        border-radius: 50% 43% 40% 46%;
        transform: rotate(0);
        width: 300px;
        height: 400px;
    }

    25% {
        background-color: #ee88ad;
    }

    50% {
        background-color: #ee403d;
        border-radius: 40% 70% 45% 60%;
        width: 350px;
        height: 350px;
    }

    75% {
        background-color: #eee55e;
    }

    100% {
        background-color: #ee88ad;
        border-radius: 90% 50% 80% 70%;
        transform: rotate(270deg);
        width: 450px;
        height: 450px;
    }
}

.loading {
    display: inline-block;
    margin: 5em;
    border-width: 30px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.style-1 {
    border-style: solid;
    border-color: #444 transparent;
}

.style-2 {
    border-style: double;
    border-color: #444 transparent;
}

.style-3 {
    border-style: double;
    border-color: #444 #fff #fff;
}

@keyframes spin {
    100% {  transform: rotate(359deg); }
}

.circle-3 {
    border-style: solid;
    border-color: #444 transparent #444 #444;
    border-width: 30px;
    border-radius: 50%;
}

.double-triangle {
    display: block;
    width: 100px;
    height: 100px;
    border-top: 17px dotted #444;
    border-right: 17px dotted #666;
    border-bottom: 17px dotted #888;
    border-left: 17px dotted #aaa;
    border-radius: 50%;
    /*border-style: solid;*/
    /*border-color: #222 transparent;*/
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}


#app {
    position: relative;
}
.loading-screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #aaa;
    opacity: 0.8;
}

.loading-screen > .center {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 800px;
    height: 100px;
}

.m-a {
    margin: auto;
}

.loading-text {
    font-size: 2em;
    margin: 0;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loading-screen > .squire-wrap > .text-height400{
    line-height: 400px;
}

.bar-wrap{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 800px;
    height: 100px;
}

.loading-screen > .bar-wrap > .text-height100 {
    line-height: 100px;
}

.bar{
    width: 100px;
    height: 100px;
    background-color: #ee5257;
    border-radius: 100px;
    animation: widing 3s cubic-bezier(1, 0, 0, 1) alternate infinite running;
}

@keyframes widing {
    25% {
        background-color: #ee8252;
        width: 800px;
    }
    50% {
        width: 100px;
        background-color: #ee5257;
        margin-left: auto;
    }
    75% {
        background-color: #ee8252;
        width: 800px;
    }
    100% {
        width: 100px;
        background-color: #ee5257;
        margin: 0;
    }
}